results/
modules/__pycache__/
utils/__pycache__/
models/__pycache__/
datasets/__pycache__/
models/__pycache__/
nohupunmae2.out
logs/
nohup/
bfg-1.13.0.jar
nohupmae.out
nohupmaeunmim3_sprase_dic404.out
nohupmaeunmim4_dic10.out
losses/__pycache__/MSE_Pos_W.cpython-39.pyc
nohupmaeunmim4_dic11_soft.out
nohupmaeunmim4_dic11_soft_Pixelinit.out
utils/__pycache__/log.cpython-39.pyc
nohupaim2.out
nohupaim3.out
datasets/spectral_earth/
*.pyc
/__pycache__/
**/__pycache__/
VCA_05EM_raw.pkl
models/__pycache__/
__pycache__/
datasets/hyspecnet-11k/
*.pkl
*.pkl
*.err
*.out
*.log